/* This css file overrides some css styles*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html .reveal {
  font-family: "Lora", serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  font-family: "Poppins", sans;
  font-weight: 800;
  color: #313f68;
}

.reveal h2 {
  font-size: 4rem;
}

.reveal * > .title {
  font-size: 1.5rem;
}

.colist {
  font-size: 1.25rem;
}

p > a {
  font-family: inherit;
  letter-spacing: -0.02em;
}

.reveal code {
  font-family: "JetBrains Mono";
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

.reveal .slides .lightbg {
  background-color: #fff8f1ee;
  border-radius: 20px;
  padding: 20px;
}
